@{
    ViewData["Title"] = "Add Physical External Folder";
}

<div class="text-center">
    <h1 class="display-4">
        Add Physical External Folder
    </h1>
</div>
<div class="text-left">
    <p>Links</p>
    <ul>
        <li>
            <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.1" target="_blank">MvcRazorRuntimeCompilationOptions &amp; AddRazorRuntimeCompilation</a><br />
            <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.1" target="_blank">https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.1</a>
        </li>
        <li>
            <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/file-providers" target="_blank">File Providers in ASP.NET Core</a><br />
            <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/file-providers" target="_blank">https://docs.microsoft.com/en-us/aspnet/core/fundamentals/file-providers</a>
        </li>
    </ul>
</div>
