@model Starwars.Jedis.Entities.Jedi

@{
    ViewData["Title"] = "These aren't the droids you're looking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>
        These aren't the droids you're looking
    </h4>
    <hr />
    <img alt="" src="~/images/starwars-this-is-not-the-group-you-are-looking-for.gif"
         class="img-fluid" />
</div>

